__pycache__
event_consumer/.env
.DS_Store
venv
.vscode/
.venv
*.pyc
.idea
.env
node_modules
*.rdb
data
backend/data/*
frontend/node_modules/
frontend/package-lock.json
letsencrypt
*.db
*.joblib
*.pt
.mytb-data
.mytb-logs
/db_volume*
mongo_data
images
backend_2/celerybeat-schedule
backend_2/test.py
/database
.backend.env